{%extends "base.html"%}
{%load quiz_extras%}
{%block content%}

<div id="main_col">

<div id="giveup">
<h2>You gave up!</h2>
</div>
<p>That's ok, sometimes you just don't know. At least you gave it a few tries! Maybe <a href="/">try another one</a>?</p>
<h3>Question</h3>
{%include "quiz/question.html"%}
<h3>Answer</h3>
<p>
    {{question.get_result_display}} {%if question.result == "OK"%} <code>{{question.answer}}</code> {%endif%}
</p>
<h3>Explanation</h3>
<div>
{{question.explanation|to_html}}
</div>
{%include "quiz/admin_link.html"%}

</div>
<hr class=clear>
{%endblock%}
