{%extends "base.html"%}
{%block content%}
<h2>About</h2>
<p>
C++ Quiz is written by <a href="http://knatten.org">Anders Schau Knatten</a>. If you discover any errors, or would like to contribute, please contact me at anders AT knatten.org.
</p>
<h2>Help/FAQ</h2>
<h3>What is this?</h3>
<p>This is a simple online quiz that you can use to test your knowledge of the C++ programming language.</p>
<h3>Which version of the standard is assumed?</h3>
<p>Unless otherwise specified, C++11.</p>
<h3>I don't agree with an answer!</h3>
<p>Contact me (see above) and I'll check it out.</p>
<h3>What features are planned?</h3>
<p>In order of decreasing likelihood</p>
<ol>
<li>More questions in the database</li>
<li>Possibility to answer "doesn't compile", "undefined behaviour" or "unspecified behaviour"</li>
<li>A possibility to register and keep your score</li>
<li>A "race" mode where you can race one or more of your friends</li>
</ol>
<h3>How can I help?</h3>
<p>If you know C++, by adding more questions. If you know Python/Django/JavaScript, by extending functionality. If you know web-design, by improving the design. Please contact me at anders AT knatten.org.</p>
{%endblock%}
