{%extends "base.html"%}
{%block content%}
<a href="/">Continue quiz</a>
<h2>About</h2>
<p>
C++ Quiz is written by <a href="http://knatten.org">Anders Schau Knatten</a> with valuable input from <a href="http://www.pvv.org/~oma/cv.html">Olve Maudal</a>, <a href="http://fcacciola.50webs.com/">Fernando Cacciola</a>, other members of the <a href="http://accu.org/">ACCU</a>, and several other contributers. If you discover any errors, or would like to contribute, please contact me at anders AT knatten.org, on <a href="https://twitter.com/CppQuiz">Twitter</a>, or on <a href="https://github.com/knatten/cppquiz/issues">GitHub</a>.
</p>
<h2>Help/FAQ</h2>
<h3>What is this?</h3>
<p>This is a simple online quiz that you can use to test your knowledge of the C++ programming language.</p>
<h3>How do I use it?</h3>
<p>Most of the questions will compile and have deterministic output, for these you just need to enter the output of the program in the text box. Some programs do however have a compilation error, unspecified behaviour, or undefined behaviour. In that case, select the correct alternative from the dropdown, and leave the output empty.</p>
<h3>Which version of the standard is assumed?</h3>
<p>Unless otherwise specified, C++11.</p>
<h3>I don't agree with an answer!</h3>
<p>Contact me (see above) and I'll check it out.</p>
<h3>How does scoring work?</h3>
<p>If you are taking a fixed quiz (not just answering random questions in training mode), you get one point per correct answer. If you used a hint for that question, 0.5 is subtracted from your point. For each incorrect attempt you made at that question, the point is further divided by two. For instance, if you used one hint and three incorrect attempts, you get (1 - <abbr title="You used a hint and loose 0.5 points">0.5</abbr>) / (<abbr title="You used three incorrect attempts, so divide by two thrice">2 * 2 * 2</abbr>) = 0.0625 points. As you can see, it pays to think things through rather than guessing, and using a hint is often also better than guessing.</p>
<h3>What features are planned?</h3>
<p>See <a href="https://github.com/knatten/cppquiz/issues?state=open">open issues at GitHub</a>.</p>
</ol>
<h3>How can I help?</h3>
<p>If you know C++, by adding more questions, or joining our mailing-list <a href="mailto:cppquiz-discuss@cppquiz.org">cppquiz-discuss@cppquiz.org</a>. If you know Python/Django/JavaScript, by extending functionality. If you know web-design, by improving the design. Please contact me at anders AT knatten.org or <a href="https://twitter.com/knatten">Twitter</a>.</p>
{%endblock%}
