{%extends "base.html"%}
{%block content%}
<a href="/">Continue quiz</a>
<h2>About</h2>
<p>
C++ Quiz is written by <a href="http://knatten.org">Anders Schau Knatten</a>. If you discover any errors, or would like to contribute, please contact me at anders AT knatten.org or <a href="https://twitter.com/knatten">Twitter</a>.
</p>
<h2>Help/FAQ</h2>
<h3>What is this?</h3>
<p>This is a simple online quiz that you can use to test your knowledge of the C++ programming language.</p>
<h3>How do I use it?</h3>
<p>Most of the questions will compile and have deterministic output, for these you just need to enter the output of the program in the text box. Some programs do however have a compilation error, unspecified behaviour, or undefined behaviour. In that case, select the correct alternative from the dropdown, and leave the output empty.</p>
<h3>Which version of the standard is assumed?</h3>
<p>Unless otherwise specified, C++11.</p>
<h3>I don't agree with an answer!</h3>
<p>Contact me (see above) and I'll check it out.</p>
<h3>What features are planned?</h3>
<p>See <a href="https://github.com/knatten/cppquiz/issues?state=open">open issues at GitHub</a>.</p>
</ol>
<h3>How can I help?</h3>
<p>If you know C++, by adding more questions. If you know Python/Django/JavaScript, by extending functionality. If you know web-design, by improving the design. Please contact me at anders AT knatten.org or <a href="https://twitter.com/knatten">Twitter</a>.</p>
{%endblock%}
