{%extends "base.html"%}
{%load quiz_extras%}
{%block content%}
<p id="stats">
You've answered {{user_data.get_correctly_answered_questions|length}} of {{total_questions}} questions correctly. <a href="/quiz/clear">(Clear)</a>
</p>

<div id="main_col">

{%if user_data.get_correctly_answered_questions|length > 3 and not dismissed_training_msg%}
<div class="message">
{%include 'quiz/start_a_new.html'%}
<p class="dismiss_link"><a href="#">Not now</a></p>
</div>
{%endif%}

{%include "quiz/question.html"%}

{%include "quiz/answer.html"%}

{%if show_hint %}
{%include "quiz/hint.html"%}
{%endif%}

{%if not correct_result%}
<form>
<p>
{%include 'quiz/answer_form.html'%}
{%if answered%} {%include "quiz/problems.html"%} {%endif%}
</p>
</form>
{%endif%}
{%if not answered%}
{%include "quiz/problems.html"%}
{%endif%}

{%include "quiz/admin_link.html"%}
</div>
<div id="right_col">
<h4>Compete</h4>
{%include 'quiz/start_a_new.html'%}
<h4>Contribute</h4>
<p>
<a href="/quiz/create">Create your own!</a>
</p>
</div>
<hr class=clear>
{%endblock%}
