{%extends "base.html"%}
{%block content%}
<p id="stats">
You've answered {{stats.correct}} of {{stats.total}} questions correctly. <a href="/quiz/clear">(Clear)</a>
</p>

<p>
What is the output of this program?
</p>

<pre class="sh_cpp">
{{question.question|escape}}
</pre>

{%if answered%}
{%if correct_result%}
<h2 class="correct">Correct!</h2>
<div class="correct">
<p>
{{question.explanation|linebreaks}}
</p>
</div>
<a href="{{next_question}}">Next question</a>
{%else%}
<h2 class="incorrect">Incorrect!</h2>
<div class="incorrect"><p> Try again: </p></div>
{%endif%}
{%endif%}

{%if not correct_result%}
<form>
<p>

This program
<select name="result">
{%for o in question.RESULT_CHOICES%}
<option value="{{o.0}}">{{o.1}}</option>
{%endfor%}
</select>
and its output is <input name="answer" size="4">
<input type="submit" value="Answer" name="did_answer">

{%if answered%} </p>Or try <a href="{{next_question}}">another question</a></p> {%endif%}
</p>
</form>
{%endif%}
{%if not answered%}
Or <a href="{{next_question}}">skip this question</a>
{%endif%}

{%if is_staff%}
<p>
Admins, <a href="/admin/quiz/question/{{question.id}}/">edit this question</a>
</p>
{%endif%}
{%endblock%}
