{%if question.state == 'RET' %}
<p class="retracted_warning">
<strong>WARNING:</strong> This question has been retracted, and should not be part of new quizzes. You're on this page because you're taking an old quiz which includes this question, or have followed an old link.
</p>
{%endif%}

<p>
<span class="about_the_question"><a href="/quiz/question/{{question.id}}">Question #{{question.id}}</a> Difficulty: <img src="{{STATIC_URL}}level-{{question.difficulty}}.png"></span>
</p>
<p>
According to the C++11 standard, what is the output of this program?
</p>

<pre>
    <code class="cpp hljs">{{question.question|escape}}</code>
</pre>
