body
{
    font-family: verdana, sans-serif;
}
#content
{
    width:50em;
    margin-left:auto;
    margin-right:auto;
    padding:0;
    border:0;
}
#main_col
{
    padding:0;
    border:0;
    margin:0;
    float:left;
    width:39em;
}
#right_col
{
    padding:.5em;
    border:0;
    margin:0;
    float:left;
    width:10em;
    background-color:#ccf;
}
hr.clear {
    clear:both;
    border:0;
}
h1
{
    background-color:#aaf;
    margin-bottom:0;
}
h1 a
{
    text-decoration:none;
    color:black;
}
.correct
{
    background-color:#8f8;
}
.incorrect
{
    background-color:#f88;
}
h2.correct, h2.incorrect
{
    margin-bottom:0;
}
div.correct p, div.incorrect p
{
    padding-top:0.5em;
    margin-top:0;
}
#footer
{
    color:grey;
    font-size:0.8em;
}
#footer a
{
    color:grey;
}
p#stats
{
  background-color:#ccf;  
  margin:0;
}
.create_question textarea
{
    width:100%;
}
.help_text
{
    color:#777;
    font-size:.8em;
    font-style:italic;
}
.errorlist
{
    color:red;
}
