body
{
    font-family: verdana, sans-serif;
}
#content
{
    width:50em;
    margin-left:auto;
    margin-right:auto;
    padding:0;
    border:0;
}
#main_col
{
    padding:0;
    border:0;
    margin:0;
    float:left;
    width:39em;
}
#right_col
{
    padding:.5em;
    border:0;
    margin:0;
    float:left;
    width:10em;
    background-color:#ccf;
}
hr.clear {
    clear:both;
    border:0;
}
h1
{
    background-color:#aaf;
    margin-bottom:0;
}
h1 a
{
    text-decoration:none;
    color:black;
}
.correct
{
    background-color:#8f8;
}
.correct code
{
    font-family: "Courier New", Courier, monospace;
}
.incorrect
{
    background-color:#f88;
}
.hint
{
    background-color:#ff8;
}
h2.correct, h2.incorrect, h2.hint
{
    margin-bottom:0;
}
div.correct p, div.incorrect p, div.hint p
{
    padding-top:0.5em;
    margin-top:0;
}
h4.quiz_mode
{
    background-color:#aaf;
}
.footer
{
    color:grey;
    font-size:0.8em;
}
.footer a
{
    color:grey;
}
p#stats
{
  background-color:#ccf;  
  margin:0;
}
.create_question textarea
{
    width:100%;
}
.help_text
{
    color:#777;
    font-size:.8em;
    font-style:italic;
}
.errorlist
{
    color:red;
}
.about_the_question, .about_the_question a
{
    color:#777;
}
.difficulty_0
{
    background-color:#ddd;
}
.difficulty_1
{
    background-color:#dfd;
}
.difficulty_2
{
    background-color:#ffc;
}
.difficulty_3
{
    background-color:#fdd;
}
.changed
{
    border-right:.5em solid #aaf;
}
.message
{
    background-color:#ffa;
}
.dismiss_link
{
    text-align:right;
    font-size:smaller;
}
.beta_warning
{
    background-color:#f55;
    margin:0;
    padding:.5em;
}
.show_previous_explanation
{
    font-size:.5em;
    font-weight:normal;
}
.correct pre.sh_sourceCode
{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-color:#8f8;
}
