 <!doctype html>
<html>
<head>
<script type="text/javascript" src="{{STATIC_URL}}sh_main.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}sh_cpp.js"></script>
<link type="text/css" rel="stylesheet" href="{{STATIC_URL}}sh_nedit.css">
<link type="text/css" rel="stylesheet" href="{{STATIC_URL}}quiz.css">
</head>
<body onload="sh_highlightDocument();">
<div id="content">
<h1><a href="/">C++ Quiz</a></h1>
{%block content%}
{%endblock%}
<hr>
<p id="footer">Code and content by <a href="http://knatten.org">Anders Schau Knatten</a>, Copyright 2013</p>
</div>
</body>
</html>

